html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


/* Start Override theme */
.form-floating > .form-select {
    padding-bottom: 0.225rem;
}
/* End Override theme */

/* Start Override Bootbox */

.bootbox-close-button {
    position: absolute;
    top: 4px;
    right:4px;
    padding: 1.5rem 1.75rem;
    z-index: 1;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
}

/* End Override Bootbox */
/* Start Custom Styles */

.dt-spinner + div {
    display: none !important;
}

.h-70px {
    height: 70px !important;
}
.glass {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.w-fit-content {
    width: fit-content;
}

.custom-header {
    font-family: 'Satisfy', cursive;
}

/* End Custom Styles */